<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Olá, {{name}}</span>

  <br />

  <span style="margin: 10px 0; display: block;">Gostaríamos de lembrá-lo(a) que a aula "{{title}}" vai começar às {{time}}h.</span>
  <br />
  <span style="margin: 10px 0; display: block;">Acesse a sala virtual utilizando as informações abaixo:</span>
  <br />
  {{{link}}}

  <br />

  {{#if hasInstruction}}
    <p style="margin: 10px 0;"><strong>Para se preparar para a aula é importante seguir a(s) instrução(ões) abaixo:</strong></p>
    <span style="margin: 10px 0; display: block;">{{{instruction}}}</span>
    <br />
  {{/if}}
  
  <p style="margin: 10px 0;">Bons Estudos!</p>

  <br />
</div>