<div style="width: 100vw; max-width: 1000px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; background-color: white; color: #1e2f50;">
  <span style="margin: 10px 0; display: block;">Olá,</span>

  <br />

  <span style="margin: 10px 0; display: block;">O aluno {{student}} entrou na lista de espera para a aula "{{title}}", que acontecerá no dia {{day}} às {{start_hour}}, e colocou a seguinte sugestão:</span>

  <p style="margin: 10px 0;">"{{suggestion}}"</p>

  <br />
</div>